@model Clony_Exemplo.Models.Membro

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Membro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Identidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Identidade)
            @Html.ValidationMessageFor(model => model.Identidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mae)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mae)
            @Html.ValidationMessageFor(model => model.Mae)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pai)
            @Html.ValidationMessageFor(model => model.Pai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoCivil)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoCivil)
            @Html.ValidationMessageFor(model => model.EstadoCivil)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Filhos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Filhos)
            @Html.ValidationMessageFor(model => model.Filhos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantos)
            @Html.ValidationMessageFor(model => model.Quantos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endereco)
            @Html.ValidationMessageFor(model => model.Endereco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cep)
            @Html.ValidationMessageFor(model => model.Cep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Facebook)
            @Html.ValidationMessageFor(model => model.Facebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataBatismo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataBatismo)
            @Html.ValidationMessageFor(model => model.DataBatismo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cargo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cargo)
            @Html.ValidationMessageFor(model => model.Cargo)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
